div{
    text-align: center;
	width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 10px;
    padding: 5px;
    float: left;
}
img{
	width: 200px;
    height: 180px;
    opacity: 0.5;
    float: left;
}
a :hover{
	opacity: 1;
}