div{
    text-align: center;
	width: 200px;
    height: 200px;
    color: red;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-right: 10px;
    padding: 5px;
    float: left;
}
img{
	width: 200px;
    height: 180px;
    opacity: 0.5;
    float: left;
}
a :hover{
	opacity: 1;
}
#t1{
    margin-top: 50px;
    margin-left: 30px;
}
#t2{
    margin-top: 150px;
    margin-left: 40px;
}
#t3{
    margin-top: 250px;
    margin-left: 40px;
}
#t4{
    margin-top: 150px;
    margin-left: 40px;
}
#t5{
    margin-top: 50px;
    margin-left: 40px;
}
body{
    width: 1330px;
    height: 700px;
    background-image: url(../images/menubg.jpg);
    background-repeat: no-repeat;
}